@model PostViewModel

<span class="text-danger">@ViewBag.InfoMessage</span>
<div class="mb-3">
    <h2>@Model.Post.PostTitle by @Model.User.UserLogin</h2>
    <a class="text-danger" asp-action="ReportPost" asp-route-id="@Model.Post.PostId">Report this post</a>
    <h5>@Model.Post.DateCreated</h5>
    <h4>@Model.Post.PostContent</h4>
</div>

<a class="btn btn-danger" asp-action="PostList">Go back</a>