@model IEnumerable<Post>

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>
<span class="text-danger">@ViewBag.ErrMessage</span>
<p>
    <a asp-action="CreatePost" asp-controller="Users">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Post Title
            </th>
            <th>
                Threads
            </th>
            <th>
                Date Created
            </th>
            <th>
                Last Updated
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="ViewPost" asp-controller="Home" asp-route-id="@item.PostId">@item.PostTitle</a>
            </td>
            <td>
                @item.Threads.Count()
            </td>
            <td>
                @item.DateCreated
            </td>
                <td>
                    @if(item.DateUpdated is null)
                    {
                        <p>
                            Never
                        </p>
                    }
                    else
                    {
                        @item.DateUpdated;
                    }
                </td>
            <td>
                <a asp-action="EditPost" asp-route-id="@item.PostId">Edit</a> |
                <a asp-action="DeletePost" asp-route-id="@item.PostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
