@using ACSITPortal.Helpers;
@model IEnumerable<Post>

@{
    ViewData["Title"] = "Profile";
}

@inject SessionManager _sessionManager
<h1>Welcome back, <b id="username">@_sessionManager.GetUserSession().UserLogin</b></h1>
<span class="text-danger">@ViewBag.ErrMessage</span>
<p>
    Have an idea? Click <a style="color: #3a11e5;" asp-action="CreatePost" asp-controller="Users">here</a> to get started.
</p>
<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>
                Post Title
            </th>
            <th>
                Threads
            </th>
            <th>
                Date Created
            </th>
            <th>
                Last Updated
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a style="color: #3a11e5; font-weight: 700;" asp-action="ViewPost" asp-controller="Home" asp-route-id="@item.PostId">@item.PostTitle</a>
            </td>
            <td>
                @item.Threads.Count()
            </td>
            <td>
                @item.DateCreated
            </td>
                <td>
                    @if(item.DateUpdated is null)
                    {
                        <p>
                            Never
                        </p>
                    }
                    else
                    {
                        @item.DateUpdated;
                    }
                </td>
            <td>
                    <a style="color: #3a11e5; font-weight: 700;" asp-action="EditPost" asp-route-id="@item.PostId">Edit</a> |
                    <a style="color: #3a11e5; font-weight: 700;" asp-action="DeletePost" asp-route-id="@item.PostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
